<configuration>
    <packageSources>
        ...
        <add key="github" value="https://nuget.pkg.github.com/takaka-t/index.json" />
        ...
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="takaka-t" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>